@{
    ViewBag.Title = "Home Page";
}

<div class="settings">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-question"></i> About DAG Generator
        </div>
        <div class="card-body">
            <p>A simple DAG (Directed Acyrlic Graph) Generator.</p>
            <p>The Critical Path Algorithm is then applied to find the earliest possible finish time. This is denoted by the green lines. </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-cogs"></i> DAG Settings
        </div>
        <div class="card-body">
            <div class="col-12">
                Nodes:
            </div>
            <div class="col-7 offset-1 d-inline">
                <input id="nodes" type="text" class="slider" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="10" data-slider-value="50" />
            </div>
            <div class="col-1 d-inline">
                <span id="nodeCount">200</span>
            </div>
            <div class="col-12">
                Edges:
            </div>
            <div class="col-7 offset-1 d-inline">
                <input id="edges" type="text" class="slider" value="" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="[1,10]" />
            </div>
            <div class="col-1 d-inline">
                <span id="edgeCountMin">1</span>-<span id="edgeCountMax">10</span>
            </div>
            <div class="col-12">
                Communication Time:
            </div>
            <div class="col-7 offset-1 d-inline">
                <input id="communication" type="text" class="slider" value="" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="[5,20]" />
            </div>
            <div class="col-1 d-inline">
                <span id="commMin">5</span>-<span id="commMax">20</span>
            </div>
            <div class="col-12">
                Computation Time:
            </div>
            <div class="col-7 offset-1 d-inline">
                <input id="computation" type="text" class="slider" value="" data-slider-min="1" data-slider-max="50" data-slider-step="1" data-slider-value="[5,30]" />
            </div>
            <div class="col-1 d-inline">
                <span id="compMin">5</span>-<span id="compMax">20</span>
            </div>
            <div class="col-12">
                Layer Count:
            </div>
            <div class="col-7 offset-1 d-inline">
                <input id="layers" type="text" class="slider" value="" data-slider-min="1" data-slider-max="200" data-slider-step="10" data-slider-value="[20,30]" />
            </div>
            <div class="col-1 d-inline">
                <span id="layersMin">5</span>-<span id="layersMax">20</span>
            </div>
            <div class="col-12 mt-1">
                Calculate critical path:
                <input type="checkbox" id="criticalPath" />
                <label for="criticalPath" data-toggle="tooltip" data-placement="right" title="This will affect the loading time of the DAG. Less than 120 nodes is reasonable."></label>
            </div>
            <button type="button" class="btn btn-outline-success col-12 mt-3" id="generate">Generate</button>
        </div>
    </div>
</div>
<div id="info">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-info"></i> DAG Information
        </div>
        <div class="card-body">
            Current Node ID: <span id="currentNode" class="font-weight-bold"></span><br />
            Computation Time: <span id="CompNode" class="font-weight-bold"></span><br />
            Previous Edges: <span id="PrevEdgeNode" class="font-weight-bold"></span><br />
            Next Edges: <span id="NextEdgeNode" class="font-weight-bold"></span><br />
            Critical Node: <span id="CriticalNode" class="font-weight-bold"></span><br />
            <hr class="col-xs-12">
            Number of Nodes: <span id="DagNodes" class="font-weight-bold"></span><br />
            Number of Edges: <span id="DagEdges" class="font-weight-bold"></span><br />
            Earliest Possible Finish: <span id="DagEPF" class="font-weight-bold"></span>
        </div>
    </div>
    <div class="card mt-2 border-danger">
        <div class="card-header">
            <i class="fas fa-exclamation-circle"></i> Warnings/Errors
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Performance Warnings
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-item">High number of nodes</li>
                <li class="list-item">Low number of layers and high node count</li>
                <li class="list-item">Calculating critical path with high node count.</li>
            </ul>
            <h5 class="card-title mt-1">Errors</h5>
            <ul class="list-group list-group-flush">
                <li class="list-item">Critical edge colours, see: <a href="https://github.com/almende/vis/issues/3918">3918</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="mynetwork">
    <!-- Graph render -->
</div>
@section scripts{
    @Scripts.Render("~/bundles/index")
}
